/******   UNVERSAL STYLES   ******/
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/******   Header   ******/
header {
  background-color: black;
}

.container.company-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .66rem;
}

.company-name img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 .5rem;
}

.company-name span {
  text-transform: uppercase;
}

/******   Banner   ******/
.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
}

.content span,
.content h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.content h2 {
  padding-top: .25rem;
  font-size: 2rem;
}

/******   Navigation   ******/
nav {
  background-color: firebrick;
}

.container.navigation-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navigation-1 li {
  padding: .75rem;
}

.container.navigation-2 {
  display: none;
}

/******   Product Grid   ******/
